@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../media/ghana.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

section {
    margin: 150px auto 0;
    width: 90vw;
    height: 70vh;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.heading,
.main {
    font-size: 0.85rem;
}

.heading h2 {
    font-family: roboto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.heading {
    padding-bottom: 10px;
}

.heading p {
    padding-bottom: 10px;
}

.f {
    padding-bottom: 5px;
}

.s {
    padding-bottom: 20px;
}

#day {
    width: 10vw;
}

#month {
    width: 10vw;
}

#year {
    width: 10vw;
}

#submit {
    display: block;
    margin: 10px auto 0;
    padding: 10px 30px;
    color: black;
    background-color: #1FAB89;
    border: 1px solid #1FAB89;
}

#display-name {
    padding-top: 20px;
    font-size: 1.2rem;
}

#result {
    padding-top: 20px;
    font-size: 1rem;
}

.s-g {
    padding-bottom: 10px;
}

@media screen and (min-width:576px) {
    section {
        height: 70vh;
        width: 80vw;
        padding-left: 20px;
    }
    #day {
        width: 10vw;
    }
    #month {
        width: 10vw;
    }
    #year {
        width: 10vw;
    }
}

@media screen and (min-width:768px) {
    section {
        width: 70vw;
        padding-left: 20px;
    }
    #day {
        width: 7vw;
    }
    #month {
        width: 7vw;
    }
    #year {
        width: 7vw;
    }
}

@media screen and (min-width:979px) {
    section {
        width: 50vw;
        padding-left: 20px;
    }
    #day {
        width: 5vw;
    }
    #month {
        width: 5vw;
    }
    #year {
        width: 5vw;
    }
}